/*This file imports all your scss partials ti be completed into one stylesheet, which you can attach to your html.

All the files that are prefixed with an underscore "_name of file.scss file" are called partials - meaning that 
their css isn't compile unless it's imported into an unprefixed .scss file
*/
/* Variables 

Variables are placeholders for starting information that you want to reuse throught your styles. You can store things 
like colours, font-families, or any css value you can think you might want to reuse.
SCSS uses the "$" symbol ti deckare variables*/
/*
	A mixin is similar to a function it has multiple decorations, as we;; as can take arguments.
	
	To declare a mixin 
	@mixin mixin-name
	
	To use a mixin 
	@include mixin-name
	
	To use a mixin with arguments
	@include($argument1, $argument2, %argument3)
	
	*/
html {
  font-family: Helvetica, Arial, sans-serif;
}

.primary-btn {
  background-color: #3498db;
  padding: .5em 1em;
  border-radius: 3px;
  margin: 1em;
  display: inline-block;
  text-decoration: none;
  transition: all 150ms ease-in-out;
  colour: #fff;
}

.primary-btn:hover {
  background-color: #0D1DB4;
}

.secondary-btn {
  background-color: #3498db;
  padding: .5em 1em;
  border-radius: 3px;
  margin: 1em;
  display: inline-block;
  text-decoration: none;
  transition: all 150ms ease-in-out;
  colour: #3498db;
}

.secondary-btn:hover {
  background-color: #0D1DB4;
}

.border, ul {
  border: 1px solid #ccc;
}

.border p, ul p {
  color: red;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
